.profile {
    width: 80%;
    border-radius: 160px;
}
#welcome {
    background: linear-gradient(yellow 0%, orange 100%);
    padding: 2%;
    padding-top: 6%;
    margin-bottom: 3%;
    width: 100%;
}

body {
    margin:0;
    padding:0;  
    text-align: center; 
}

#bio p {
    font-size: 27px;
}

.menu{
    list-style:none;
    position: fixed ;
    top: 0px;
    z-index: 10;
    cursor: pointer;
    font-family: 'Sigmar', cursive;
    background-color: white;
    width: 100%;
}

.links {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 20px;
}

#name {
    font-family: 'Sigmar', cursive;
    font-size: 50px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    font-size: 35px;
}
h1 {
    color: black;
    font-family: 'Sigmar' ;
    font-size: 40px;
}

p {
    font-size: 35px;
    color: orange;
}

#redes a:hover {
    font-size: 20px;
}

iframe{
    width: 100vw;
    height: 40vh;
}